body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.grid-header {
    grid-column: 2;
    grid-row: 1;
}

.grid-menu {
    grid-column: 3;
    grid-row: 1;
}

.grid-details {
    grid-column: 1;
    grid-row: 1;
}

.grid-extra {
    grid-column: 1 / 4;
    grid-row: 2;
}

@media(min-width: 1280px) {
    body#home {
        grid-template-rows: 35% 65%;
    }

    body#page {
        grid-template-rows: 50% 50%;
    }
}

@media(min-width: 768px) and (max-width: 1280px) {
    body#home {
        grid-template-rows: 35% 65%;
    }

    body#page {
        grid-template-rows: 50% 50%;
    }
}

@media(max-width: 768px) {
    body#home {
        grid-template-rows: 40% 60%;
    }

    body#page {
        grid-template-rows: 60% 40%;
    }
}

body {
    background-color: #161616;
    color: #fff;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #ddd;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th:first-child, td:first-child {
    padding-left: 0;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}


.panel {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #353535;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
    border-color: #ddd;
}

.panel-default > .panel-header{
    color: #333;
    background-color: #ddd;
    border-color: #ddd;
}

.panel-body {
    padding: 15px;
}

.panel-header {
    padding: 10px 15px;
    border-bottom: 1px solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.requirements-link {
    line-height: 1;
    width: 80%;
}

.list-project-content {
    list-style-position: inside;
    font-size: 1.2em;
}




div.float-right > ul.no-list > li > a {
    float: right !important;
}

.no-list {
    list-style: none;
}

.button-group {
    display: block;
    width: 80%;
}

.button {
    text-decoration: none;
    color: initial;
    padding: .375rem .75rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;

    transition-property: color, background-color, border-color, box-shadow;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s, 0s;

}

.button-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}
.button-primary:hover{
    background-color: #004e93;
    border-color: #004e93;
    color: #fff;
}

.button-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}
.button-secondary:hover{
    background-color: #464f57;
    border-color: #464f57;
    color: #fff;
}

.button-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}
.button-success:hover{
    background-color: #18762d;
    border-color: #18762d;
    color: #fff;
}

.button-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}
.button-danger:hover{
    background-color: #9d2835;
    border-color: #9d2835;
    color: #fff;
}


.button-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
}
.button-warning:hover{
    background-color: #a87d07;
    border-color: #a87d07;
    color: #212529;
}


.button-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}
.button-info:hover{
    background-color: #17748a;
    border-color: #17748a;
    color: #fff;
}


.button-dark {
    background-color: #343a40;
    border-color: #343a40;
    color: #fff;
}
.button-dark:hover{
    background-color: #80898f;
    border-color: #80898f;
    color: #fff;
}

.justify-center {
    text-align: center;
}

.justify-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}



